<app-header></app-header>

<div class="jumbotron">
  <h1>Notre livre de recettes</h1>
</div>

<div class="container">
  <div class="row">
    <div class="col-sm">
        <h2>
            Nos recettes</h2>
      <recipes></recipes>
    </div>

    <div class="col-sm">
      <recipe-detail></recipe-detail>
    </div>
  </div>

</div>

<hr>

<div class="container">
  <div class="row">
    <div class="col-sm">
        <h2>Listes de courses</h2>
        <app-shopping-edit></app-shopping-edit>
        <shopping-list></shopping-list>
      
    </div>
  </div>

</div>

<app-footer></app-footer>